@model List<ContatoModel>

@{
    ViewData["Title"] = "Listagem de contatos";
}

<head>
    <link rel="stylesheet" href="~/css/Alunos.css" asp-append-version="true" />
</head>

<div class="text-center" >

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-asp-controller="Contato" asp-action="Criar">Adicionar Novo Contato</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
    <div class="alert alert-success" role="alert">
        <button  type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
        
    }

    @if (TempData["MensagemErro"] != null)
    {
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
        
    }

    <br />

    <h1 class="display-4">Listagem de alunos</h1>

    <div class="container-fluid">
        <div class="row justify-content-center" >
    
        
        
            @if(Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    
            @* <div class="container-fluid">
                

                
                    <div class="row" style="width:100%;">

            <div class="col-md-4">
                <div class="card m-2" style="background-color:#212529;">
                    <img src="~/Imagens/person-circle.svg" class="card-img-top" height="200px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title nome" style="margin-bottom:20px;color:white">@contato.Nome</h5>
                        <a role="button" class="btn btn-primary me-1" asp-route-id="@contato.Id" asp-asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </div>
            </div>
                    </div>
                
                
            </div> *@



                    <div class="col-md-4">
                        <div class="card m-2" style="background-color:#212529;">
                            <img src="~/Imagens/person-circle.svg" class="card-img-top" height="200px" alt="...">
                            <div class="card-body text-center">
                                <!-- Adicionando a classe text-center para centralizar o texto -->
                                <h5 class="card-title nome" style="margin-bottom:20px;color:white">@contato.Nome</h5>
                                <a role="button" class="btn btn-primary me-1" asp-route-id="@contato.Id" asp-asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                                <a role="button" class="btn btn-success" asp-route-id="@contato.Id" asp-asp-controller="Contato" asp-action="detalhes">Detalhes</a>
                            </div>
                        </div>
                    </div>




           
                        
                       
                }   
            }

            </div>
            </div>
  
        
    

</div>

